.memoryGame{
    text-align: center;
    position: relative;
    font-weight: 600;
    font-size: larger;
    font-family:'Arial, Helvetica, sans-serif';
    color: rgb(216, 6, 6);
    width: 100%;
    height: 95vh;
}

.game{
    margin-top: 1.7%;
    letter-spacing: 1.5px;
    height: 100%;
}

.background{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(.65);
    filter: blur(2.5px);
    z-index:-2;
}

.cardsHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;
    margin-left: 15%;
    height: 68.6vh;
    padding: 8px;
}

.cards{
    height: 22.2vh;
    width: 22.5%;
    padding: 5px;
    border: 4px solid black;
    background: url("https://i.ibb.co/18KZH6C/cardback-optimized.jpg");
    background-size: 100% 100%;
    transition: 1s;
    filter: drop-shadow(2px 2px 3px white);
    border-radius: 12px;
}

.cards:hover{
    transform: scale(1.05);
    border: 4px solid rgb(117, 35, 185);
}

.btn{
    margin-top: -2%;
    border: 2px solid rgb(216, 6, 6);
    background-color: black;
    padding: 6px;
    font-size: 23px;
    font-weight: 600;
    color: rgb(216, 6, 6);
    border-radius: 10px;
    margin-left: 1%;
    height:7%;
    /* width: 13%; */
    transition: .3s;
    letter-spacing: 1px;
    filter: drop-shadow(2px 2px 3px white);
}

.btn:hover{
    transform: scale(1.02);
    color: rgb(117, 35, 185);
    border: 2px solid rgb(117, 35, 185);
    filter: drop-shadow(2px 2px 5px white);
}

.timeAndMoves{
    position: fixed;
    top: 5%;
    left: 0%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 8%;
    height: 35%;
    /* border: 2px solid white; */
    color: white;
    border-radius: 10px;
    transition: .5s;
}
/* 
.timeAndMoves:hover{
    transform: scale(1.02);
    font-family:"cursive";
} */

.timeAndMoves p{
    border: 3px inset rgb(216, 6, 6);
    color: rgb(216, 6, 6);
    background-color: black;
    margin-top: 1%;
    font-size: larger;
    font-weight: 800;
    border-radius: 50%;
    padding: 3px;
    /* width: 65%; */
    height: 35%;
    text-align: center;
    transition: .4s;
    font-family:"cursive";
}
/* .scoreIcon{
    margin-left: 10%;
    width: 35%;
    height: 35%;
    filter: drop-shadow(2px 2px 2px rgb(117, 35, 185));
} */
.gameOverDiv{
    font-size: larger;
    top: 30%;
    left: 38%;
    height: 30vh;
    width: 22%;
    border-radius: 15px;
    border: 2px solid rgb(216, 6, 6);
    position: absolute;
    background-color: rgb(19, 16, 16);
}
.scoreBoard{
    position: fixed;
    font-size: larger;
    top: 8%;
    width: 50%;
    left: 25%;
    border-radius: 10px;
    border: 2px solid white;
    background-color: black;
    transition: .5s;
    z-index: 1;
 }
 
 .scoreBoard:hover{
    border: 2px solid rgb(117, 35, 185);
    filter: drop-shadow(3px 3px 6px white);
 }
.table{
    width: 98.7%;
    margin-left: 0.6%;
    overflow: scroll;
    border-collapse: collapse;
}
.table td{
    border-right: 1.2px solid white;
}

.table tr:hover{
    transform: scale(1.01);
    outline:1px inset gold;
}
.exit{
    position: fixed;
    font-size: larger;
    height: 15px;
    width: 15px;
    top: 11%;
    left: 73.8%;
    z-index: 1;
}

@media screen and (max-width:1024px){
    .timeAndMoves p{
        height: 16%;
        margin-top: 5%;
    }
}

@media screen and (max-width:768px){
    .scoreBoard{
       width: 60%;
    }
    .exit{
        top: 9%;
        left:83%;
    }
}

@media screen and (max-width:425px){
    .scoreBoard{
       width: 82%;
       left: 10%;
    }
    .table{
        font-size: small;
    }
    .exit{
        top: 9%;
        left:88%;
    }
    .timeAndMoves{
        left: 3%;
    }
    .timeAndMoves p{
        height: 10%;
        border: 0px solid black;
        background-color: rgba(0, 0, 0, 0);
        margin-top: 5%;
    }
}